doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title my pug website
    body
        h1 my pug website
        .container
            .main-content
                .door-hor
                .utility
                    .door-hor
                    .name utility room
                .kitchen
                    .ref
                    .rug
                    .cabinets
                        .stove
                    .sink
                        .sink-tap-1
                        .sink-tap-2
                    .island
                        .chair
                    .name kitchen
                .bathroom-2
                    .window-hor
                    .door-hor
                    .shower
                    .toilet
                    .vanity
                    .rug
                    .name bath #1
                .bedroom-2
                    .door-ver
                    .window-hor
                    .bed-table
                    .bed
                        .blanket
                        .pillow
                    .table
                    .name guest bedroom
                .living-room
                    .rug
                    .window-ver
                    .sofa
                    .coffee-table
                    .tv-set
                    .name living room
                .bedroom-1
                    .rug
                    .door-hor
                    .window-hor
                    .bed
                        .blanket
                        .pillow
                        .pillow
                    .bed-table
                    .bed-table
                    .name master bedroom
                .closet
                    .wall-gap
                    .name walk-in closet
                .bathroom-1
                    .door-ver
                    .door-ver
                    .window-hor
                    .rug
                    .bathtub
                    .vanity
                    .toilet
                    .name bath #2
                .office
                    .door-hor
                    .window-hor
                    .table
                    .name home office
                .patio
                    .door-sliding
                    .real-patio
                        .name balcony
                    .patio-table
                    .patio-chair
                    .patio-chair
